@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #001f39;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.container {
  width: 80%;
  margin: 150px auto;
}
h1,
h2 {
  font-weight: 500;
}
h1 {
  color: #007d4d;
}

.input {
  margin: 25px 0;
  position: relative;
  width: 80%;
}
input::selection {
  background-color: transparent;
  color: inherit;
}
input#show {
  height: 30px;
  width: 100%;
  padding: 30px 15px;
  font-size: 18px;
  font-family: "Poppins";
  border-radius: 6px;
  border: none;
  outline: none;
}
.input img {
  width: 22px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
button {
  color: white;
  font-family: inherit;
  background-color: #007d4d;
  border: navajowhite;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
button img {
  width: 30px;
}

p {
  position: absolute;
  right: -88px;
  top: -46px;
  font-size: 13px;
  background-color: #555;
  padding: 6px 15px;
  border-radius: 6px;
  transition: all 0.2s ease;
  opacity: 0;
  width: 230px;
  text-align: center;
}
p.red {
  background-color: #b329298c;
}
p.red::before {
  border-color: #b329298c transparent transparent transparent;
}
p.green {
  background-color: #29b32c8c;
}
p.green::before {
  border-color: #29b32c8c transparent transparent transparent;
}
p::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: #555 transparent transparent transparent;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
}

.input img:hover + p {
  opacity: 1;
}
.lenght {
  display: flex;
  gap: 6px;
  flex-direction: column;
  width: 200px;
  margin: 20px 0px;
}
input#number-length {
  width: 60px;
  border: none;
  outline: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-weight: bolder;
  box-shadow: 0 0 3px 0 #007d4d;
}
.inputs {
  display: flex;
  gap: 10px;
}
